.mt-20px {
    margin-top: 20px;
  }
  
.btn-add {
background-color: rgb(71, 184, 66) !important;
width: 50px;
color: white !important
}

.text-danger {
color: red !important;
}

.text-primary {
color: #0d6efd !important
}

.text-center {
text-align: center !important;
}

.label {
width: fit-content;
border-radius: 5px;
font-size: 13px;
color: white;
padding: 7px 13px;
background-color: rgb(6, 122, 193);
}

.btn-add-view {
border: none !important;
height: 40px ;
width: 40px !important;
border-radius: 5px !important;
background-color: #e0e0e0 !important;
font-size: 20px !important;
box-shadow: none !important;
}

#btn-add-view .MuiPopover-paper {
top: 50px !important;
}

.btn-search {
background-color: rgb(71, 184, 66) !important;
width: 50px;
color: white !important;
margin-top: 15px !important;
min-width: 0 !important;

}

.title-modal {
width: 100%;
padding: 0 10px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.footer-modal {
    height: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    color: white !important;
    margin: 5px 5px !important;
    width: 140px;
}

.btn-success {
    background-color: rgb(71, 184, 66) !important; 
}

.btn-danger {
    background-color: red !important;
}

.content-modal{
    padding: 16px 10px 24px !important;
    width: 100% !important
}

.marginTop20px {
    margin-top: 20px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkbox-color {
    height: 20px;
    width: 30px;
    color: white;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    padding-top: 9px;
}